<div class="users_show_mypage">
	<div class="users_show_left">
		<div class="users_show_account">
			<div>
				<h2>マイアカウント</h2>
			</div>
			<div>
				<%= attachment_image_tag @user, :image, :fill, 200, 200, format: 'jpeg' %>
			</div>
			<div>
				<h3><%= @user.name %></h3>
			</div>
			<div>
				<h3><%= @user.profile %></h3>
			</div>
			<div>
				<%= link_to "購入履歴", buys_path%>
			</div>
			<div>
				<%= link_to "編集", edit_user_path(@user.id) %>
			</div>
			<div>
				<%= link_to "退会" %>
			</div>
		</div>
	</div>
	<div class="users_show_center">
		<div class="users_show_products">
			<h2>出品CD一覧</h2>
			<table>
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="users_show_right">
		<div class="users_show_chats">
			<h2>MELCD Chat</h2>
			<table>
				<thead>
					<tr>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th></th>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div> 