<% if @user.deleted_at == "退会済み" %>
	退会済みのユーザーです
<% else %>
	<% @user.errors.full_messages do |m| %>
	<%= m %>
	<% end %>

	<div class="users_show_mypage">
		<div class="users_show_left">
			<h1>プロフィール</h1>
			<div class="users_show_account">
				<div>
					<%= attachment_image_tag @user, :image, :fill, 400, 400, format: 'jpeg' ,fallback: 'no_image.jpg', class: "users_show_image_cicle" %>
				</div>
				<div class="users_show_name">
					<h1><%= @user.name %></h1>
				</div>
				<div class="users_show_profile_comment">
					<p><%= @user.profile %></p>
				</div>
				<% if @user == current_user %>
					<div>
						<h2><%= link_to "購入履歴", buy_path(@user.id)%></h2>
					</div>
					<div>
						<h2><%= link_to "編集", edit_user_path(@user.id) %></h2>
					</div>
					<div>
						<h3><%= link_to "退会", user_path(@user.id), method: :delete, "data-confirm" => "本当に退会しますか？" %></h3>
					</div>
				<% end %>

			</div>
		</div>
		<div class="users_show_center">
			<h1>出品中商品</h1>
			<div class="users_show_products">
				<% @user.products.each do |product|%>
				<div class="users_show_shows">
					<%= link_to product_path(product.id),class: "users_show_shows_link" do %>
					<%= attachment_image_tag product, :image, :fill, 400, 400, format: 'jpeg' ,fallback: 'no_image.jpg', class: "users_show_image" %>
						　　　　　　　　　　　　　　　　　<!-- ---ボヤけて他ので400,400にしました--- -->
					<% end %>
					<table border="2", class="users_show_box">
						<td>アーティスト名</td>
						<td><%= product.artist %></td>
					</tr>
					<tr>
						<td>CD/ALBUM名</td>
						<td><%= product.album %></td>
					</tr>
					<tr>
						<td>在庫数</td>
						<td><%= product.count %>枚</td>
					</tr>
					<tr>
						<td>値段</td>
						<td><%= product.price %>円/枚</td>
					</table>
					<% if @user == current_user %>
					<span><%= link_to "編集", edit_product_path(product.id)%></span>
					<span><%= link_to "削除", product_path(product.id), method: :delete,"data-confirm" => "本当に削除しますか?"  %></span>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
		<div class="users_show_right">
			<div class="users_show_chats_box">
			<h1>MELCD Chat</h1>
			<div class="users_show_chats">
				<div class="users_show_chats_table">
						<% @talk1.each do |talk| %>
						<div class="user_show_talks">
							<div class="user_show_talk_image", width="150px"><%= attachment_image_tag talk.user, :image, :fill, 100, 100,fallback: 'no_image.jpg', class: "users_show_image_cicle" %></div>
							<div class="user_show_talk_name" width="150px"><h5><%= talk.user.name  %></h5></div>
							<div class="user_show_talk_content" width="200px"><%= talk.content %>
							<% if talk.user_id == current_user.id %>
								<div class="user_show_talk_destroy">
									<p><%= link_to "", talk_path(talk.id), method: :delete, class: "far fa-trash-alt my-gray", "data-confirm" => "本当に削除しますか?"%></p></div>
							<% end %>
							</div>

						</div>
						<% end %>
				</div>
				<div class="users_show_chats_send">
					<%= form_for(@talk,url: talks_path(user_id: @user.id)) do |f| %>
					<%= f.text_area :content, :size => "50x10",placeholder:"文字以内" %>
					<%= f.submit "送信" %>
					<% end %>
				</div>
			</div>
		</div>
		</div>
	</div>
<% end %>