<div class="users_show_mypage">
	<div class="users_show_left">
		<h2>マイアカウント</h2>
		<div class="users_show_account">
			<div>
				<%= attachment_image_tag @user, :image, :fill, 400, 400, format: 'jpeg' ,fallback: 'no_image.jpg', class: "users_show_image_cicle" %>
			</div>
			<div>
				<h1><%= @user.name %></h1>
			</div>
			<div class="users_show_profile_comment">
				<p><%= @user.profile %></p>
			</div>
			<% if @user == current_user %>
			<div>
				<h2><%= link_to "購入履歴", buy_path(@user.id)%></h2>
			</div>
			<div>
				<h2><%= link_to "編集", edit_user_path(@user.id) %></h2>
			</div>
			<div>
				<h3><%= link_to "退会" %></h3>
			</div>
			<% end %>

		</div>
	</div>
	<div class="users_show_center">
		<h1>出品中</h1>
		<% @user.products.each do |product|%>
		<div class="users_show_products">
			<div class="users_show_shows">

				<div>
					<%= link_to product_path(product.id) do %>
					<%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg' ,fallback: 'no_image.jpg', class: "users_show_image" %>
					　　　　　　　　　　　　　　　　　<!-- ---ボヤけて他ので100,100にしました--- -->
					<% end %>
				</div>
				<table border="2", class="users_show_box">
					<td>アーティスト名</td>
					<td><%= product.artist %></td>
				</tr>
				<tr>
					<td>CD名</td>
					<td><%= product.album %></td>
				</tr>
				<tr>
					<td>在庫数</td>
					<td><%= product.count %>枚</td>
				</tr>
				<tr>
					<td>値段</td>
					<td><%= product.price %>円/枚</td>
				</table>

				</div>
				<% if @user == current_user %>
				<span><%= link_to "編集", edit_product_path(product.id)%></span>
				<span><%= link_to "削除", product_path(product.id), method: :delete,"data-confirm" => "本当に削除しますか?"  %></span>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	<div class="users_show_right">
		<h2>MELCD Chat</h2>
		<div class="users_show_chats">
			<h1>投稿一覧</h1>
			<table border="2" ,overflow-y:scroll>
				<% @user.talks.each do |talk| %>
					<th><%= attachment_image_tag @user, :image, :fill, 100, 100, format: 'jpeg' ,fallback: 'no_image.jpg', class: "users_show_image_cicle" %></th>
					<th><%= talk.user.name %></th>
					<td><%= talk.content %></td>
					<% if @user == current_user %>
					<td><p><%= link_to "削除", talk_path(talk.id), method: :delete,"data-confirm" => "本当に削除しますか?"%></p></td>
					<% end %>
				</tr>
				<% end %>
			</table>
			<%= form_for(@talk ,url: talk_path(@user.id), html: {method: "patch"}) do |f| %>
			<%= f.text_area :content, :size => "50x10",placeholder:"文字以内" %>
			<%= f.submit "送信" %>
			<% end %>
		</div>
	</div>
</div>