
<div class="carts_show_carts">
	<div class="carts_show_left">
		<h2>購入画面</h2>

		<% @cartproducts.each do |cartproduct| %>
		<div class="carts_show_buys">
			<div class="carts_show_buys_image">
				
				<%= attachment_image_tag cartproduct.product, :image, :fill, 100, 100, format: 'jpeg' ,fallback: 'no_image.jpg', class: "carts_show_buys_image" %>
				<!-- ---ボヤけて他ので100,100にしました--- -->
				
			</div>
			<table class="carts_show_buys_box">
				<tr>
					<td>アーティスト名</td>
					<td><%= cartproduct.product.artist %></td>
				</tr>
				<tr>
					<td>CD名</td>
					<td><%= cartproduct.product.album %></td>
				</tr>
				<tr>
					<td>注文数</td>
					<td><%= cartproduct.count %></td> 
					<!-- 出品数の数になっていたので変更 -->
				</tr>
				<tr>
					<td>値段</td>
					<td><%= cartproduct.product.price %></td>
				</tr>
			</table>
		</div>
		<% end %>
		<span class="">
			<h1>合計金額</h1>
			<h1>¥<%= @total_price %></h1>
		</span>



	</div>
	<div class="carts_show_right">
		<h2>支払い方法</h2>
		
	</div>
</div>