<!-- カートのshowの箱（支払方法等を選択する） -->
<div class="carts_show_carts">


	<div class="carts_show_left">
		<h2>購入画面</h2>

		<% @cartproducts.each do |cartproduct| %>
		<div class="carts_show_buys">
			<div class="carts_show_buys_image">
				<%= attachment_image_tag cartproduct.product, :image, :fill, 400, 400, format: 'jpeg' ,fallback: 'no_image.jpg', class: "carts_show_buys_image" %>
				<!-- ---ボヤけて他ので100,100にしました--- -->
			</div>
			<table border= "1", class="carts_show_buys_box">
				<tr>
					<td class="cart_show_product_table">アーティスト名</td>
					<td class="cart_show_product_table"><%= cartproduct.product.artist %></td>
				</tr>
				<tr>
					<td class="cart_show_product_table">CD名</td>
					<td class="cart_show_product_table"><%= cartproduct.product.album %></td>
				</tr>
				<tr>
					<td class="cart_show_product_table">注文数</td>
					<td class="cart_show_product_table"><%= cartproduct.count %></td>
					<!-- 出品数の数になっていたので変更 -->
				</tr>
				<tr>
					<td class="cart_show_product_table">値段</td>
					<td class="cart_show_product_table"><%= cartproduct.product.price %></td>
				</tr>
			</table>
		</div>
		<% end %>
	</div>




	<!-- 支払い方法、送付先、合計金額、購入ボするボタンの箱 -->
	<div class="carts_show_right_box">
		<%= form_for(@delivery, url: buy_product_path(@cart.id), html: {method: "patch"}) do |f| %>

			<!-- 支払い方法、送付先、合計金額のテーブル -->
			<table class="cart_show_right_box_table">
				<!-- テーブルの1行目 -->
				<tr class="cart_show_right_box_tr">
					<!-- テーブルの左側の列 -->
					<td class="cart_show_right_box_td">支払方法
					</td>
					<!-- テーブル　：　の列 -->
					<td class="cart_show_right_box_td2">：
					</td>
					<!-- テーブル右側の列 -->
					<td class="cart_show_right_box_td3">
						<%= f.fields_for :buys do |buy|%>
							<%= buy.label :payment, "支払方法" %><br>
							<%= buy.select :payment, Buy.payments.keys.to_a, {} %>
						<% end %>
					</td>
				</tr>

				<tr class="cart_show_right_box_tr">
					<!-- テーブルの左側の列 -->
					<td class="cart_show_right_box_td_child2">送付先
					</td>
					<td class="cart_show_right_box_td2_child2">：
					</td>
					<td class="cart_show_right_box_td3_child2">
						<%= f.label :name, "送付先氏名" %><br>
						<%= f.text_field :name,class: "cart_show_right_textfield" %><br>

						<%= f.label :postal, "郵便番号" %><br>
						<%= f.text_field :postal,class: "cart_show_right_textfield" %><br>

						<%= f.label :state, "都道府県" %><br>
						<%= f.text_field :state,class: "cart_show_right_textfield" %><br>

						<%= f.label :street, "市区町村" %><br>
						<%= f.text_field :street,class: "cart_show_right_textfield" %><br>

						<%= f.label :adress, "番地" %><br>
						<%= f.text_field :address,class: "cart_show_right_textfield" %><br>

						<%= f.label :tel, "電話番号" %><br>
						<%= f.text_field :tel,class: "cart_show_right_textfield" %>
					</td>
				</tr>

				<tr class="cart_show_right_box_tr">
					<!-- テーブルの左側の列 -->
					<td class="cart_show_right_box_td total_price">合計
					</td>
					<td class="cart_show_right_box_td2 total_price">：
					</td>
					<td class="cart_show_right_box_td3 total_price">¥<%= @total_price %>
					</td>
				</tr>
			</table>
			<!-- 支払い方法、送付先、合計金額のテーブルfin -->

			<!-- 購入ボタンの箱 -->
			<div class="cart_show_right_box_btn_box">
				<%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md cart_btn" do %>
                          <i class="fas fa-truck fa-fw fa-4x"></i><strong>　購入を決定する</strong>
			</div>
			<% end %>
		<% end %>
	</div>
	<!-- 支払い方法、送付先、合計金額の箱fin -->


</div>
<!-- カートのshowの箱（支払方法等を選択する）fin -->




