<div class="product_index_content_2">
	<h1 class="product_index_content_headtitle">検索結果一覧</h1>

        <% @result.each do |product| %>

        	<!-- 画像と商品名と値段の箱 -->
        	<div class="product_index_middle_box_2">

				<a class="fancybox"><%= attachment_image_tag product, :image, :fill, 300, 300, fallback: "no_image.jpg", class:"product_index_middle_box1" %></a>

				<!-- 商品名と値段の箱 -->
					<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
						<%=link_to product.album, product_path(product.id) %>
					</h2>

					<% if product.new_price == nil %>
						<h2>￥ <%= product.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= product.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= product.new_price %></h2>
					<% end %>
					</div>
				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
</div>
<!-- --------画像ポップアップここから------------------ -->
<script>
$(document).ready(function() {
// $("a.fancybox").click(function() {
// 	console.log($(this).find($('img')).attr('src'));
// })
  $('a.fancybox').click(function() {
  	// $(document).on('click', 'a.fancybox', function() {
  	// console.log('tttt');
  	$(this).parent().prepend('<a class="fancybox"><img class="attachment product image product_index_middle_box1 fallback" src="'+$(this).find($('img')).attr('src')+'" width="300" height="300"></a>');
  })
  $("a.fancybox").fancybox();

});

</script>
<!-- --------画像ポップアップまで------------------ -->
<%= paginate @products %>

</div>