<div class="product_index_content_2">
	<h1 class="product_index_content_headtitle">検索結果一覧</h1>
	<h3>
	<%= page_entries_info @products %> 
	<!-- ↑この記載で「全何件中何件」を表示させる（デフォルト英語） -->
	</h3>
        <% @result.first(4).each do |product| %>

        	<!-- 画像と商品名と値段の箱 -->
        	<div class="product_index_middle_box_2">

				<%= attachment_image_tag product, :image, :fill, 300, 300, fallback: "no_image.jpg", class:"product_index_middle_box1" %>

				<!-- 商品名と値段の箱 -->
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
						<%=link_to product.album, product_path(product.id) %>
					</h2>

					<% if product.new_price == nil %>
						<h2>￥ <%= product.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= product.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= product.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
</div>
<%= paginate @products %>

</div>