

<div class="product_edit_box">
	<div class="product_edit_middle">
		<%= form_for(@product) do |f|%>
			<div class="product_edit_album">
				<%= f.text_field :artist %>
			</div>
			<div class="product_edit_image">
				<%= attachment_image_tag @product, :image ,:size => "300x300" %>
			</div>
			<div class="product_edit_table2">
					<table class="product_edit_table3" border="1">
						<caption></caption>
						<thead>
							<tr>
								<td>出品者</td><td><%= link_to user_path(@product.user.id) do |f| %>
									<%= @product.user.name%></td>
									<% end %>
							</tr>
							<tr>
								<td>在庫数</td><td><%=f.number_field :count, class:"product_edit_number" %>個</td>
							</tr>
							<tr>
								<td>レーベル</td><td><%= f.text_area :label %></td>
							</tr>
							<tr>
								<td>ジャンル </td><td><%= f.select :genre,Product.genres.keys.to_a, {} %></td>
							</tr>
							<tr>
								<td>状態</td><td><%= f.select :status,Product.statuses.keys.to_a, {} %></td>
							</tr>
						</thead>
					</table>

			</div>
			<div class="product_edit_song">
				<h1>曲目</h1>
					<% @product.discs.each do |disc| %>
						<% disc.songs.each do |song| %>
							・<%= song.title %><br>
						<% end %>
					<% end %>
			</div>
			<div class="product_edit_price">
				<% if @product.new_price == nil %>
					¥<%= f.number_field :price %>円
				<% else %>
					¥<%= f.number_field :new_price  %>円
				<% end %>
			</div>
			<div class="product_edit_introduction">
				<%= f.text_area :introduction ,:size =>"47x30"%>
			</div>
		<% end %>
	</div>
</div>

