aaaaaaaaa
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="assets/image1.jpg" />
    </li>
    <li>
      <img src="assets/image2.jpg" />
    </li>
    <li>
      <img src="assets/image3.jpg" />
    </li>
  </ul>
</div>
<script>
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>


<!-- 新着アイテム-->

<!-- 新着アイテム全体の箱 -->
<div class="product_index_content">

		<strong class="product_index_content_title">  　新着アイテム　</strong><br>
        <% @products.each do |product| %>
        	<!-- 画像と商品名と値段の箱 -->
        	<div class="product_index_middle_box">
	    		<!-- 売り切れ時の表示 -->
	    			<% if product.count == 0 %>
	    				<div class ="product_index_sold_out">SOLD OUT</div>
	    			<% end %>

				<a class="fancybox"><%= attachment_image_tag product, :image, :size => "300x300", fallback: "no_image.jpg", class: "product_index_middle_box1" %></a>
			<!-- :fill, 300, 300でなく　sizeで表記したらうまくいきました。。 -->
			<!-- 商品名と値段の箱 -->
			<%=link_to product_path(product.id) do %>
			<div class="product_index_middle_box2">



					<h2 class="product_index_small_box_album">
						<%= truncate(product.artist, length: 8 ) %> /
						<%= truncate(product.album, length: 8 ) %>
					</h2>

					<% if product.new_price == nil %>
						<h2>￥ <%= product.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= product.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= product.new_price %></h2>
					<% end %>
			</div>
			<!-- 商品名と値段の箱fin -->
		</div>
		<!-- 画像と商品名と値段の箱fin -->
        <% end %>
		<% end %>
		<div class="more_btn">もっと見る <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
  <div class="close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
</div>

<!-- 新着アイテム全体の箱fin -->


<!-- j-popアイテム全体の箱 -->
<div class="product_index_content">
	<strong class="product_index_content_title">　J-POP　</strong><br>
	</strong>

        <% @jpops.each do |jpop| %>

        	<!-- 画像と商品名と値段の箱 -->
        <div class="product_index_middle_box">
        	<div class="product_index_middle_box_2">

				<a class="fancybox"><%= attachment_image_tag jpop, :image, :size => "300x300", fallback: "no_image.jpg", class: "product_index_middle_box1" %></a>

				<!-- 商品名と値段の箱 -->
				<%=link_to  product_path(jpop.id) do %>
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
							<%= truncate(jpop.artist, length: 8 ) %> /
							<%= truncate(jpop.album, length: 8 ) %>
					</h2>

					<% if jpop.new_price == nil %>
						<h2>￥ <%= jpop.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= jpop.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= jpop.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
		</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
		<% end %>
	<div class="more_btn">もっと見る <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
  <div class="close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
</div>
<!-- j-popアイテム全体の箱fin -->



<!-- 洋楽アイテム全体の箱 -->
<div class="product_index_content">
	<strong class="product_index_content_title">　洋楽　</strong><br>

        <% @worlds.each do |world| %>

        	<!-- 画像と商品名と値段の箱 -->
        <div class="product_index_middle_box">
        	<div class="product_index_middle_box_2">

				<a class="fancybox"><%= attachment_image_tag world, :image, :size => "300x300", fallback: "no_image.jpg", class: "product_index_middle_box1" %></a>

				<!-- 商品名と値段の箱 -->
				<%=link_to  product_path(world.id) do %>
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
							<%= truncate(world.artist, length: 8 ) %> /
							<%= truncate(world.album, length: 8 ) %>

					</h2>

					<% if world.new_price == nil %>
						<h2>￥ <%= world.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= world.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= world.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
		</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
		<% end %>
		<div class="more_btn">もっと見る <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
  <div class="close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
</div>
<!-- 洋楽アイテム全体の箱fin -->


<!-- K-POPアイテム全体の箱 -->
<div class="product_index_content">
	<strong class="product_index_content_title">　K-POP　</strong><br>

        <% @kpops.each do |kpop| %>    

        	<!-- 画像と商品名と値段の箱 -->
        <div class="product_index_middle_box">
        	<div class="product_index_middle_box_2">

				<a class="fancybox"><%= attachment_image_tag kpop, :image, :size => "300x300", fallback: "no_image.jpg", class: "product_index_middle_box1" %></a>

				<!-- 商品名と値段の箱 -->
				<%=link_to  product_path(kpop.id) do %>
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">

							<%= truncate(kpop.artist, length: 8 ) %> /
							<%= truncate(kpop.album, length: 8 ) %>

					</h2>

					<% if kpop.new_price == nil %>
						<h2>￥ <%= kpop.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= kpop.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= kpop.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
		</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
		<% end %>
		<div class="more_btn">もっと見る <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
  <div id="close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
</div>
<!-- K-POPアイテム全体の箱fin -->
<!-- --------画像ポップアップここから------------------ -->
<script>
$(document).ready(function() {
// $("a.fancybox").click(function() {
// 	console.log($(this).find($('img')).attr('src'));
// })
  $('a.fancybox').click(function() {
  	// $(document).on('click', 'a.fancybox', function() {
  	// console.log('tttt');
  	$(this).parent().prepend('<a class="fancybox"><img class="attachment product image product_index_middle_box1 fallback" src="'+$(this).find($('img')).attr('src')+'" width="300" height="300"></a>');
  })
  $("a.fancybox").fancybox();

});

</script>
<!-- --------画像ポップアップまで------------------ -->


 <%= link_to image_tag('youtube_profile_image.png',:id => "funcBtn"), new_product_path %>

<style type="text/css">

/*---- 機能ボタン ----*/

#funcBtn{
position: fixed; bottom: 10px; right: 10px;
display: block;
width: 200px;
height: 200px;
border-radius: 50%;

/*画像リンクのため不要*/
/*line-height: 60px;
border-radius: 50% 50%;
background: red;
color: white;
font-size: 20px;
font-weight: bold;
text-align: center;
white-space: nowrap;*/

/*最悪　記入不要　WebKitがクロームに対応するものらしいが動く*/
/*-webkit-transition:
opacity 0.2s ease-out 0s,
bottom 0.2s ease-out 0s,
right 0.2s ease-out 0s,
-webkit-transform 0.2s ease-out 0s;*/

/*firefox対応しないため不要*/
/*-moz-transition:
opacity 0.2s ease-out 0s,
bottom 0.2s ease-out 0s,
right 0.2s ease-out 0s,
-moz-transform 0.2s ease-out 0s;*/
transition:
opacity 0.2s ease-out 0s,
/*opacity 透明度を調整するもの ease-outは高速で動き出し、最後に減速します*/
bottom 0.2s ease-out 0s,
/*下に下がる速さ*/
right 0.2s ease-out 0s,
/*右に動く速さ*/
transform 0.2s ease-out 0s;
/*これがないとゆっくり動かない*/
}
#funcBtn.scroll{
	/*スクロールした時にこのCSSが効く*/
opacity: 0;
bottom: -50px;
right: 0px;
/*移動方向*/
/*-webkit-transform: rotate( 45deg );
-moz-transform: rotate( 45deg );*/
/*上に習い不要説ある*/
transform: rotate( 45deg );
}


</style>

<!---- スクリプト ---->
<script type="text/javascript">

/*---- グローバル変数 ----*/

var tmr_funcBtn = null;

// これがないと消えたまんまになる

/*---- スクロール時に実行 ----*/

window.onscroll = function(){
var funcBtn = document.getElementById("funcBtn");
funcBtn.className = "scroll";
clearTimeout( tmr_funcBtn );
tmr_funcBtn = setTimeout( function(){ funcBtn.className = "" }, 500 );
}


</script>

</head>

<body>

<script>
//liの個数を取得しておく
    $(document).on('click', '.more_btn', function() {
      
    })
    console.log(this);

    $(".product_index_content").each(function(){ //何番め以降を非表示にするために関数で指定が必要
		var listContents = $(this).find($('.product_index_middle_box'));
      	//最初に表示させるアイテムの数
        var Num = 3;
        
        //最初はmoreボタン表示にし、
        $(this).find('.more_btn').show();//thisに入ってるのは.product_index_middle_box
        $(this).find('.close_btn').hide();
        //10行目まで表示

        listContents.each(function(i, e){
	        if(i >= Num){//上で定義したNum = 3以降の画像を指定
	        	// e == listcontents[i]
	        	$(e).hide();//隠す
	        }        	
        })
       })
        
        //moreボタンがクリックされた時
    $('.more_btn').click(function(){ 
        //Numに+3ずつしていく = 3行ずつ追加する
        var len = $(this).parent().find(".product_index_middle_box").length
        var num = $(this).parent().find(".product_index_middle_box:visible").length
        num += 3
        $(this).parent().find(".product_index_middle_box:lt("+num+")").slideDown();
        //:lt = ("")より前までを指定（.product_index_middle_boxの中で３＋３＝６よ>り前までを指定）
        //thisに入ってるのは#more_btn

        //console.log(num)
        //liの個数よりNumが多い時、
        if(len <= num){
        	$(this).hide();
        	$(this).next('.close_btn').show();
        	// $('.close_btn').show();

        	//「閉じる」がクリックされたら
    	}
    });

	$('.close_btn').click(function(){
		$(this).parent().find(".product_index_middle_box:gt(2)").slideUp();//11行目以>降は非表示にし、
		//thisに入ってるのは#close_btn 
		$(this).hide();//閉じるボタンを非表示 
		$(this).prev('.more_btn').show();//moreボタン表示に
	});

</script>



<!-- https://detail.chiebukuro.yahoo.co.jp/qa/question_detail/q13157245918 これの丸パクリです-->
