<!-- -----------------------------------------作佐部修正--------------------------------------- -->

<!-- 新着アイテム-->

<!-- 新着アイテム全体の箱 -->
<div class="product_index_content">
	<h1 class="product_index_content_headtitle">新着アイテム</h1>
        <% @products.first(3).each do |product| %>

        	<!-- 画像と商品名と値段の箱 -->
        	<div class="product_index_middle_box">

				<%= attachment_image_tag product, :image, :fill, 300, 300, fallback: "no_image2.jpg", class:"product_index_middle_box1" %>

				<!-- 商品名と値段の箱 -->
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
						<%=link_to product.album, product_path(product.id) %>
					</h2>

					<% if product.new_price == nil %>
						<h2>￥ <%= product.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= product.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= product.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->
			</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
</div>
<!-- 新着アイテム全体の箱fin -->


<!-- j-popアイテム全体の箱 -->
<div class="product_index_content_2">
	<h1 class="product_index_content_headtitle">J-POP</h1>
        <% @products.first(4).each do |product| %>

        	<!-- 画像と商品名と値段の箱 -->
        	<div class="product_index_middle_box_2">

				<%= attachment_image_tag product, :image, :fill, 300, 300, fallback: "no_image2.jpg", class:"product_index_middle_box1" %>

				<!-- 商品名と値段の箱 -->
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
						<%=link_to product.album, product_path(product.id) %>
					</h2>

					<% if product.new_price == nil %>
						<h2>￥ <%= product.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= product.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= product.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
</div>
<!-- j-popアイテム全体の箱fin -->



<!-- 洋楽アイテム全体の箱 -->
<div class="product_index_content_2">
	<h1 class="product_index_content_headtitle">洋楽</h1>
        <% @products.first(4).each do |product| %>

        	<!-- 画像と商品名と値段の箱 -->
        	<div class="product_index_middle_box_2">

				<%= attachment_image_tag product, :image, :fill, 300, 300, fallback: "no_image2.jpg", class:"product_index_middle_box1" %>

				<!-- 商品名と値段の箱 -->
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
						<%=link_to product.album, product_path(product.id) %>
					</h2>

					<% if product.new_price == nil %>
						<h2>￥ <%= product.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= product.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= product.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
</div>
<!-- 洋楽アイテム全体の箱fin -->


<!-- K-POPアイテム全体の箱 -->
<div class="product_index_content_3">
	<h1 class="product_index_content_headtitle">K-POP</h1>
        <% @products.first(4).each do |product| %>

        	<!-- 画像と商品名と値段の箱 -->
        	<div class="product_index_middle_box_2">

				<%= attachment_image_tag product, :image, :fill, 300, 300, fallback: "no_image2.jpg", class:"product_index_middle_box1" %>

				<!-- 商品名と値段の箱 -->
				<div class="product_index_middle_box2">

					<h2 class="product_index_small_box_album">
						<%=link_to product.album, product_path(product.id) %>
					</h2>

					<% if product.new_price == nil %>
						<h2>￥ <%= product.price %>
						</h2>
					<% else %>
						<span class="product_index_small_box_line">
						<h2 class="product_index_small_box_old_price">￥ <%= product.price %></h2>
						</span>
						<h2 class="product_index_small_box_new_price">￥ <%= product.new_price %></h2>
					<% end %>

				</div>
				<!-- 商品名と値段の箱fin -->

			</div>
			<!-- 画像と商品名と値段の箱fin -->

        <% end %>
</div>
<!-- K-POPアイテム全体の箱fin -->