<% @product.errors.full_messages.each do |message| %>
<%= message %>
<% end %>

<div class="product_new_big_box">

<div class="product_new_middle_box">
<%= form_for(@product) do |f| %>
	<h1>アーティスト名</h1>
	<%= f.text_field :artist %>
	<h1>CD/ALBUM名</h1>
	<%= f.text_field :album %>
   	<h1>画像</h1>
  	<%= f.attachment_field :image %>
    <h1>レーベル</h1>
	<%= f.text_field :label %>
	<h2>ジャンル</h2>

	<%= f.select :genre, Product.genres.keys.to_a, {} %><br>

	<h2>状態</h2>
	<%= f.select :status,Product.statuses.keys.to_a, {} %>

	<h2>ディスク</h2>

	<div>
		<!-- f.fields_forは、cocoonをインストールすると使用できる？っぽいです -->
		<!-- ほぼform_forと機能は同じです。 -->
		<!-- 異なるのは、①上述の通りネストしたモデルの内容をparams回収ができる点、②下記のlink_to_add_associationのリンクが押されると表示できる点 -->
		<%= f.fields_for :discs do |disc| %>
			<!-- renderで部分テンプレートdiscs_fields.html.erbを呼び出している。上記②の通り下記のlink_to_add_associationを押すことで呼び出す。 -->
			<%= render 'disc_fields', f: disc %>
		<% end %>

		<!-- 通常のlink_to のjquery版。これを押すと上記のrenderが呼び出される。 -->
		<%= link_to_add_association 'ディスクを追加', f, :discs  %>
	</div>

	<h1> CDの説明</h1>
	<%= f.text_area :introduction, cols:70, rows:10 %>
	<h1>数量</h1>
	<%= f.number_field :count,size:5 %><span>枚</span><br>
	<h1>値段</h1>
	<%= f.number_field :price %><span>円/枚</span><br>

	<%= f.submit '出品する' ,:class=>"product_new_btn" %>
	<% end %>
 </div>



