<%= @cart_product.errors.full_messages.each do |message| %>
 <%= message %>
<% end %>

<div class="product_show_box">

    <div class="product_show_middle">
        <div class="product_show_album">
            <%= @product.artist %>
        </div>
        <div class="product_show_image">
            <%= attachment_image_tag @product, :image ,:size => "300x300" %>
        </div>
        <div class="product_show_table2">
                <table class="product_show_table3" border="1">
                    <caption></caption>
                    <thead>
                        <tr>
                            <td>出品者</td><td><%= link_to user_path(@product.user.id) do |f| %>
                                <%= @product.user.name%></td>
                                <% end %>
                        </tr>
                        <tr>
                            <td>在庫数</td><td><%= @product.count %>個</td>
                        </tr>
                        <tr>
                            <td>レーベル</td><td><%= @product.label %></td>
                        </tr>
                        <tr>
                            <td>ジャンル </td><td><%= @product.genre_i18n %></td>
                        </tr>
                        <tr>
                            <td>状態</td><td><%= @product.status %></td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

        </div>
        <div class="product_show_song">
            <h1>曲目</h1>
                <% @product.discs.each do |disc| %>
                    <% disc.songs.each do |song| %>
                        ・<%= song.title %><br>
                    <% end %>
                <% end %>
        </div>
        <div class="product_show_price">
            <% if @product.new_price == nil %>
                ¥<%= @product.price %>円
            <% else %>
                ¥<%= @product.new_price %>円
            <% end %>
        </div>
        <div class="product_show_introduction">
            ・<%= @product.introduction %>
        </div>
        <div class="product_show_chat">
            <div class="product_show_table">
                <table class="product_show_table">
                    <div class="product_show_chatt">
                        <thead>
                            <% @product.product_comments.each do |product_comment| %>
                                <tr>
                                    <th width="150px"><%= product_comment.user.name %></th>
                                    <th width="150px"><%= product_comment.created_at.strftime('%Y/%m/%d') %></th>
                                    <th width="700px"><%= product_comment.content %></th>
                                    <% if product_comment.user.id == current_user.id %>
                                    <th width="70px"><%= link_to "削除", product_comment_path(product_comment.id) ,method: :delete %></span></th>
                                    <% end %>
                                </tr>
                            <% end %>
                        </thead>
                    </div>
                </table>
            </div>
        </div>
                    <%= form_for(@product_comment,url: product_comments_path(product_id: @product.id)) do |f| %>
                    <%= f.text_area :content ,:size => "150x8" ,placeholder:"200文字以内"%><br>
                    <%= f.submit "コメントする" ,:class=>"bottan" %>
                    <% end %>
                <div class="product_show_gocart">
                    <%=form_for(@cart_product, url:cart_product_path(@product.id), html:{method: :patch}) do |f| %>
                    <%=f.number_field :count, :size => "10x8",placeholder:"個数"%>
                    <%=f.submit "カートに入れる" %>
                    <% end %>
                </div>
    </div>
</div>
