<%= @cart_product.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<div class="product_show_big_box">
  <h1 id="ppp">商品詳細画面</h1>
	<div class="product_show_artist">
		<div class="product_show_artist_left">
			<h1>アーティスト名：</h1>
		</div>
		<div class="product_show_artist_right">
			<%= @product.artist %>
		</div>
	</div>
	<div class="product_show_album">
		<div class="product_show_alubm_left">
			<h1>CD/ALBUM名：</h1>
		</div>
		<div class="product_show_album_right">
			<%= @product.album %>
		</div>
	</div>

	<div class="product_show_image_name">
		<div class="product_show_margin">
			<div class="product_show_image">
				<h1><%= attachment_image_tag @product, :image ,:size => "300x300" %></h1>
			</div>
			<div class="product_show_name">
				<table class="product_show_table" border="1">
					<caption></caption>
					<thead>
						<tr>
							<td>出品者</td><td><%= link_to user_path(@product.user.id) do |f| %>
								<%= @product.user.name%></td>
								<% end %>
						</tr>
						<tr>
							<td>在庫数</td><td><%= @product.count %>個</td>
						</tr>
						<tr>
							<td>値段</td>
							<td><% if @product.new_price == nil %>
									 <%= @product.price %>円
								<% else %>
									 <%= @product.new_price %>円
								<% end %>
							</td>
						</tr>
						<tr>
							<td>レーベル</td><td><%= @product.label %></td>
						</tr>
						<tr>
							<td>ジャンル </td><td><%= @product.genre_i18n %></td>
						</tr>
						<tr>
							<td>状態</td><td><%= @product.status %></td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

			</div>
		</div>
	</div>
							<!-- エラー実験 -->



	<div class="product_show_song_index">
		<div class="product_show_margin">
			<div class="product_show_song">
				<h1>曲目</h1>
				<% @product.discs.each do |disc| %>
					<% disc.songs.each do |song| %>
						<%= song.title %><br>
					<% end %>
				<% end %>
			</div>
			<div class="product_show_introduction">
				<div class="product_show_scroll">
					<h1>CDの説明</h1>
					<%= @product.introduction %>
				</div>
			</div>
		</div>
	</div>

	<div class="product_show_comment_cart">
		<div class="product_show_margin">
			<div class="product_show_comment">
				<div class="product_show_table">
					<table class="product_show_table" border="1">
						<caption>chat space</caption>
							<thead>
							</thead>
							<tbody>
								<% @product.product_comments.each do |product_comment| %>
									<tr>
										<td><%= product_comment.user.name %></td>
										<td><%= product_comment.created_at.strftime('%Y/%m/%d') %></td>
									</tr>
									<tr>
										<td><%= product_comment.content %></td>
									</tr>
									<% if product_comment.user.id == current_user.id %>
									<tr>
										<td><%= link_to "削除", product_comment_path(product_comment.id) ,method: :delete %></span></td>
									</tr>
									<% end %>
								<% end %>
							</tbody>
					</table>
				</div>
					<%= form_for(@product_comment,url: product_comments_path(product_id: @product.id)) do |f| %>
					<%= f.text_area :content %>
					<%= f.submit "送信する" %>
					<% end %>
				</div>

			<div class="product_show_cart">
				<div class="product_show_secret">
				<%=form_for(@cart_product, url:cart_product_path(@product.id), html:{method: :patch}) do |f| %>
				<%=f.number_field :count%>
				<%=f.submit "カートに入れる" %>
						<% end %>
				 <!-- カートプロダクトモデルに保存するリンク　一覧にリダイレクト -->

				 <% if @product.user.id == current_user.id %>
					<%= link_to "商品を編集する", edit_product_path(@product.id)%>
					<%= link_to "商品を削除する", product_path(@product.id),method: :delete, "data-confirm" => "本当に削除しますか？"%>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>