<div class="product_show_big_box">
  <h1 id="ppp">商品詳細画面</h1>
	<div class="product_show_artist">
		<h1>アーティスト名 <%= @product.artist %></h1>
	</div>
	<div class="product_show_album">
		<h1>CD名 <%= @product.album %></h1></h1>
	</div>
	


	<div class="product_show_image_name">
		<div class="product_show_margin">
			<div class="product_show_image">
				<h1><%= attachment_image_tag @product, :image ,:size => "300x300" %></h1>
			</div>
			<div class="product_show_name">
				<table border="1">
					<caption></caption>
					<thead>
						<tr>
							<td>出品者</td><td><%= @product.user.name%></td>
						</tr>
						<tr>
							<td>在庫数</td><td><%= @product.count %></td>
						</tr>
						<tr>
							<td>値段</td>

							<td><% if @product.new_price == nil %>
									 <%= @product.price %>
								<% else %>
									 <%= @product.new_price %>
								<% end %>
							</td>
						</tr>
						<tr>
							<td>レーベル</td><td><%= @product.label %></td>
						</tr>
						<tr>
							<td>ジャンル </td><td><%= @product.genre %></td>
						</tr>
						<tr>
							<td>状態</td><td><%= @product.status %></td>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>

			</div>
		</div>
	</div>


	<div class="product_show_song_index">
		<div class="product_show_margin">
			<div class="product_show_song">
				<h1>曲目</h1>
			</div>
			<div class="product_show_introduction">
				<div class="product_show_scroll">
					<h1>CDの説明</h1>
					<%= @product.introduction %>
				</div>
			</div>
		</div>
	</div>

	<div class="product_show_comment_cart">
		<div class="product_show_margin">
			<div class="product_show_comment">
				<div class="product_show_table">
					<table border="1">
						<caption>chat space</caption>
							<thead>
							</thead>
							<tbody>
								<% @product.product_comments.each do |product_comment| %>
									<tr>
										<td><%= product_comment.user.name %></td>
										<td><%= product_comment.created_at.strftime('%Y/%m/%d') %></td>
									</tr>
									<tr>
										<td><%= product_comment.content %></td>
									</tr>
									<tr>
										<td><%= link_to "削除", product_comment_path(product_comment.id) ,method: :delete %></span></td>
									</tr>
								<% end %>
							</tbody>
					</table>
				</div>
					<%= form_for(@product_comment,url: product_comments_path(product_id: @product.id)) do |f| %>
					<%= f.text_area :content %>
					<%= f.submit "送信する" %>
					<% end %>
				</div>
				<div class="product_show_cart">
				 <%= link_to "カートに入れる" , products_path, class: "bbtn" %>

				 <% if @product.user.id == current_user.id %>

					<%= link_to "編集する", edit_product_path(@product.id)%>
					<%= link_to "削除する", product_path(@product.id),method: :delete, "data-confirm" => "本当に削除しますか？"%>
				<% end %>
			</div>
		</div>
	</div>
</div>