<!DOCTYPE html>
<html>
  <head>
    <title>Merucd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<!-- ここからヘッダー -->
    <header>
      <%= link_to "MeruCD", products_path, class: 'products_index_header_title' %>
      <nav class="products_index_header clearfix">

        <ul class="products_index_header_itembox">
            <li　class="products_index_header_item">
            <!-- 検索機能-->
              <div class="products_index_search">
                <%= search_form_for @q, url: search_path do |f|%>
                  <%= f.condition_fields do |c| %>
<!-- ここで検索するカラムを指定できる。しかし、カラムを任意のものに絞り込むのは無理そう -->
                    <%= c.attribute_fields do |a| %>
                      <%= a.attribute_select associations: [] %>
                    <% end %>
 <!-- ここで曖昧検索の仕方を指定している。これはc.hidden_field :p, value:を使って絞り込むことが可能 -->
                    <%= c.hidden_field :p, value: "cont" %>
                    <%= c.value_fields do |v| %>
                      <%= v.search_field :value, placeholder: '検索ワードを入力' %>
                    <% end %>
                  <% end %>
                  <%= f.submit '検索' %>
                <% end %>
              </div>
            </li>
            <!-- ここはログイン時のみ -->
          <% if user_signed_in? %>
            <li class="products_index_header_item">
              <%= link_to current_user.name, user_path(current_user.id),class: 'products_index_header_username' %>
            </li>
            <li class="products_index_header_item">
              <%= link_to "カートへ", carts_path(current_user.id), class: 'products_index_header_cart' %>
            </li>
            <li class="products_index_header_item">
              <%= link_to "ログアウト", destroy_user_session_path, class: 'products_index_header_logout', method: :delete  %>
            </li>
            <!-- ここ以下がログアウト時のみ -->
          <% else %>
            <li class="products_index_header_item">
              <%= link_to "新規登録", new_user_registration_path,class: 'products_index_header_login' %>
            </li>
            <li class="products_index_header_item">
              <%= link_to " ログイン", new_user_session_path,class: 'products_index_header_signin' %>
          <% end %>
        </ul>
      </nav>
    </header>

    <%= yield %>
<!-- ここからフッター -->
    <footer>
      <nav class="products_index_footer">
        <ul class="products_index_footer_itembox clearfix">
            <li class="products_index_footer_item">
              <%= link_to "お問い合わせ", new_mail_path,class: 'products_index_footer_mail' %>
            </li>
            <li class="products_index_footer_item">
              <%= link_to "このサイトについて", homes_about_path,class: 'products_index_footer_about' %>
            </li>
        </ul>
              <span class="products_index_footer_c">ks-㎡</span>
      </nav>
    </footer>
  </body>
</html>
